@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --background-color-primary:#ffffff;
    --text-color-primary:#2c2c2c;
    --background-color-secondary:#171c28;
    --text-color-secondary:#afafbf;
    height: 100vh;
}
body{
    background-color: var(--background-color-primary);
    transition:1s ease-in;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color:var(--text-color-primary);
    
    height: 100%;

}
.navbar
{
    display:flex;
    flex-direction: row;
    width:100%;
    padding:10px;
    justify-content: space-between;
    
    

}
.navbar-heading
{
    font-size:1.5rem;
}
.navbar-links
{
    display:flex;
    justify-content: space-between;
    width:30%;
    font-size:1.2rem;
    align-items: center;
}
.navbar-action-btns
{
    display:flex;
    gap:20px;
    
    justify-content: flex-end;
}
.highlight
{
    font-weight: 800;
}

/* jumbotron styling */
.jumbotron
{
    display: flex;
    gap:30px;
    align-items: center;
    height: 100vh;
    justify-content: center;
    width:100%;
}
.jumbotron-content
{
    display:flex;
    width:40%;
    flex-direction: column;

}
.jumbotron-content>p{
    font-size:2rem;
}
.main-btn
{
    padding:10px;
    border:var(--text-color-primary) solid 1px;
    border-radius: 10px;
    width:110px;
    margin-top: 20px;
    font-weight: 500;
}
.main-btn:hover
{
    background-color: var(--text-color-primary);
    color:white;
}

/* category component styling */
.category-container
{
    display:flex;
    width:100%;
    justify-content: space-evenly;
}
.category
{
    background-color:inherit;
    border:1px solid var(--text-color-primary);
    border-radius: 10px;
    padding:5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:15%;
    align-items: center;
}
.category-heading
{
    font-size:1.4rem;
    margin-top:10px;
}
.category-image:hover{
    width:150px;
    height: 150px;
}


/* form styling */
.form-container
{
    display:flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
}
.form-heading
{
    display: flex;
    align-items: center;
    font-size:2rem;
}
form{
    display:flex;
    flex-direction: column;
    width:40%;
    justify-content: flex-start;

}
.form-label
{
    margin-bottom: 10px;
    margin-top:10px;
    font-size:1.2rem;
}
.form-input
{
    border:1px solid rgb(81, 81, 81);
    border-radius: 5px;
    padding:10px 10px;
}
.submit-btn
{
    background-color:var(--text-color-primary);
    color:white;
    border-radius: 5px;
    padding:10px;
    margin-top:20px;

}
.submit-btn:hover{
    background-color: black;
    
}

/* admin console styling */
.admin-container
{
    display:flex;
    flex-direction: row;
    height: 100%;
    
}
.admin-console-navbar
{
    display:flex;
    flex-direction: column;
    background-color: var(--text-color-primary);
    color:white;
    height: 100%;
    padding-top:10px;
    width:20%;
}
.admin-navbar-links
{
    margin-bottom: 10px;
    padding:10px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size:1.5rem;
    display:flex;
    gap:10px;
}
.admin-view-container
{
    padding:10px;
    width:80%;
}
.active
{
    background-color: white;
    color:var(--text-color-primary);
}

.information-block
{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    background-color: var(--text-color-primary);
    color:white;
    margin-bottom: 10px;
    width:10rem;
    height: 10rem;
    border-radius: 10px;

}

.information-block-container{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    width: 100%;
    gap:10px;

}

table.products_table tr td
{
    @apply border-2 border-blue-200
}
thead
{
    @apply bg-blue-400
}
td button
{
    @apply bg-blue-900 rounded-lg text-white flex p-1
}
td
{
    @apply p-1
}
.edit-button
{
    @apply flex bg-blue-900 text-white rounded-lg w-[70px] justify-center p-1
}